{{#each results}}
<li class="gallery-list__item">
    {{#if poster_path}}
    <img class="gallery-list__img" src="https://image.tmdb.org/t/p/w300{{poster_path}}" width="274px" height="398px"
        alt="">
    {{else}}
    <img class="gallery-list__img" src="" width="274px" height="398px"
        alt="">
    {{/if}}
    <h3 class="gallery-list__item-title">{{title}}</h3>
    <div class="film-info-cont">
        <p class="film-info">
            {{#each genre_ids}}
            <span class="film-info__id">{{this}}{{this.name}}</span>
            {{/each}}
            <span class="film-info__slash">|</span>
            <span class="film-info__year">{{release_date}}</span>
            <span class="film-info__rate">{{vote_average}}</span>
        </p>
    </div>
</li>
{{/each}}